<body>

    <div class="loginForm">
        <h1>Welcome to MovieDB</h1>
        <form #authenticationForm="ngForm" (ngSubmit)="onSubmit(authenticationForm)">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email" autocomplete="off" ngModel name="email" required email>
                <small id="emailHelp" class="form-text text-muted">Please enter a valid email form with "@eng.it"
                    domain.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ngModel name="password"
                    required minlength="6">
                <small id="passHelp" class="form-text text-muted">Please enter a password with almost 6
                    characters.</small>
            </div>
            <button type="submit" class="btn btn-secondary" [disabled]="!authenticationForm.valid">Login</button>
        </form>
        <div class="alert alert-danger" role="alert" *ngIf="emailError">
            Please enter a valid email!
        </div>
    </div>

</body>