body {
    background-color: lightgray;
    margin: 0;
}

img {
    height: 200px;
}

.navbar-brand {
    height: 90%;
}

.row {
    margin: 20px;
    
}

a {
    color: slategray;
}

.btn {
    border: 1px solid black;
}

.card {
    width: 250px;
    height: 400px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    background-color: black;
    text-align: center;
}

.card-title{
    color: white;
}
.navbar {
    height: 100px;
    margin-bottom: 0;
}
